body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(126, 126, 126), rgb(0, 78, 109));
    background-attachment: fixed;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.829);
}

#seltab {
    padding: 10px;
    background-color: rgba(223, 223, 223, 0.24);
}

footer {
    text-align: center;
}